 

.p1{
    color: darkblue;
}
.p2{
    font-family: monospace;
    font-size: 45px;
    font-style: inherit;    
    color: black;
}

p{
    color: #045FB4;
    font-family: monospace;
    font-size: 35px;

}
li , form , input{
    font-size: 25px;
}

