<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>

    <link rel="StyleSheet" type="text/css" href="../../resources/css/EstiloAcessoRestrito.css" media="screen"></link>

    <h:head>
        <title>Livraria TMG</title>
    </h:head>

    <h:body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="../index.xhtml"><img src="../../resources/img/Logo.png" width="150px"></img></a> &nbsp; <h1 class="p1">Livraria TMG</h1>          


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active" >
                        <a class="nav-link" href="../CadastroLivros/CadastraLivros.xhtml">Cadastro de Livros <span class="sr-only">(current)</span></a>
                    </li>

                    &nbsp;
                    &nbsp;

                    <li class="nav-item active" >
                        <a class="nav-link" href="../CadastroUsuarios/CadastraUsuarios.xhtml" >Cadastro de Usuários<span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0">

                    <a href="../index.xhtml"><h:graphicImage library="img" title="Voltar" name="voltar.png"></h:graphicImage></a>

                    &nbsp;
                    &nbsp;

                    <input class="form-control form-control-lg"  type="search" placeholder="Pesquisar" aria-label="pesquisa"></input>


                    <a href="#"><img src="../../resources/img/lupa.png" width="30px;" title="Pesquisar"></img></a>

                    &nbsp;
                    &nbsp;

                    <a href="../../index.xhtml"><img src="../../resources/img/exit.png" width="32px;" title="Sair"></img></a>
                </form>
            </div>
        </nav>

        <hr></hr>

        <center>  

            <h1 class="p2">Lista de usuários da Livraria TMG</h1>

            <br></br>


            <p:dataTable id="tabela" var="usuario" value="#{usuarioBean.listar}">
                <p:column headerText="Código" style="width: 75px ; text-align: center;">
                    <h:outputText value="#{usuario.id}" />
                </p:column>

                <p:column headerText="Nome" style="text-align: center;">
                    <h:outputText value="#{usuario.nome}" />
                </p:column>

                <p:column headerText="Email" style="text-align: center;">
                    <h:outputText value="#{usuario.email}" />
                </p:column>

                <p:column headerText="CPF" style="text-align: center;">
                    <h:outputText value="#{usuario.cpf}" />
                </p:column>

                <p:column headerText="Editar" style="text-align: center;">
                    <h:form prependId="false">
                        <p:commandLink update="painelUsuarios" process="@this" oncomplete="PF('dialog').show();" >                                      
                            <h:graphicImage library="img" name="editar.png"/>                    
                            <f:setPropertyActionListener target="#{usuarioBean.usuarioSelecionado}" value="#{usuario}" />                           
                        </p:commandLink>
                    </h:form>

                </p:column>

                <p:column headerText="Excluir" style="text-align: center;">                    
                    <h:form prependId="false">
                        <p:commandLink process="@this" actionListener="#{usuarioBean.deletar(usuario)}" update="tabela">
                            <h:graphicImage library="img" name="excluir.png"/>
                            <p:confirm id="apagar" header="Remover Usuário" message="Deseja realmente remover o usuário #{usuario.nome}?" icon="ui-icon-alert"/>
                        </p:commandLink>
                    </h:form>
                </p:column>

            </p:dataTable>


            <p:dialog header="Edição de Dados" widgetVar="dialog"  modal="true"  >

                <h:form prependId="false">

                    <p:fieldset legend="Dados do Usuário">

                        <p:panelGrid id="painelUsuarios">   

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Código:" for="codigo" />
                                </p:column>
                                <p:column colspan="8">
                                    <p:inputText id="codigo"  value="#{usuarioBean.usuarioSelecionado.id}" readonly="true" size="2" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column >
                                    <p:outputLabel value="Nome:" for="nomeForm" />
                                </p:column>
                                <p:column colspan="8">
                                    <p:inputText id="nomeForm" value="#{usuarioBean.usuarioSelecionado.nome}" readonly="false" />
                                </p:column>
                            </p:row>    

                            <p:row>
                                <p:column >
                                    <p:outputLabel value="Senha:" for="senha" />
                                </p:column>
                                <p:column colspan="8">
                                    <p:inputText id="senha" value="#{usuarioBean.usuarioSelecionado.senha}" readonly="false" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="CPF:" for="cpf" />
                                </p:column>
                                <p:column colspan="8">
                                    <p:inputText id="cpf" value="#{usuarioBean.usuarioSelecionado.cpf}" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Endereço:" for="endereco" />
                                </p:column>

                                <p:column>
                                    <p:inputText id="endereco" value="#{usuarioBean.usuarioSelecionado.endereco}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="Nº" for="numero" />
                                </p:column>

                                <p:column>
                                    <p:inputText id="numero"  value="#{usuarioBean.usuarioSelecionado.numero}"  size="2" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="Cidade:" for="cidade" />
                                </p:column>

                                <p:column>
                                    <p:inputText id="cidade" value="#{usuarioBean.usuarioSelecionado.cidade}" />
                                </p:column>

                                <p:column>
                                    <p:outputLabel value="UF:" for="uf" />
                                </p:column>

                                <p:column>
                                    <p:inputText id="uf" value="#{usuarioBean.usuarioSelecionado.estado}" size="2" />
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Complemento:" for="complemento" />
                                </p:column>
                                <p:column colspan="8">
                                    <p:inputText id="complemento"  value="#{usuarioBean.usuarioSelecionado.complemento}" size="100" />
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </p:fieldset>

                    <br></br>

                    <h:form prependId="false">
                        <p:commandButton value="Salvar" actionListener="#{usuarioBean.editar()}" oncomplete="PF('dialog').hide();" icon="ui-icon-disk"  /> 
                    </h:form>

                </h:form>       

            </p:dialog> 

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

        </center>


    </h:body>
</html>
